* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  height: 100vh;
  background-image: url(./images.jpg);
}
html {
  font-size: 16px;
}
h1 {
  margin-top: 5vmin;
  font-size: 10vmin;
  text-align: center;
  color: #ffffff;
  text-shadow: 5px 5px 5px #2b2929;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.wrapper {
  box-shadow: 10px 5px 5px rgb(148, 137, 91);
  background: linear-gradient(135deg, #d1914d, #fb3067);
  border: 2px solid #ffffff;
  border-radius: 3vmin;
  width: 80vmin;
  height: 115vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  margin-top: 5vmin;
  margin-left: 10vmin;
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.button-option {
  background: #ffffff;
  height: 19vmin;
  width: 19vmin;
  border: none;
  font-size: 12vmin;
  color: #cc315f;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#restart {
  font-size: 30px;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}
.popup {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 10vmin;
}
#new-game {
  align-items: center;
  margin-top: 10vmin;
  margin-left: 35vmin;
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #0a0027;
  color: #ffffff;
  border-radius: 0.2em;
  border: none;
}
#message {
  text-shadow: 5px 5px 5px #2b2929;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #ffffff;
  text-align: center;
  margin-top: 5vmin;
  font-size: 1em;
}
.borde {
  box-shadow: 10px 5px 5px rgb(148, 137, 91);
  background: linear-gradient(135deg, #d1914d, #fb3067);
  background: linear-gradient(135deg, #d1914d, #fb3067);
  align-items: center;
  width: 120vmin;
  height: 60vmin;
  border: 3px solid #ffffff;
  border-radius: 3vmin;
}
.popup.hide {
  display: none;
}
