* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  height: 100;
  background-image: url(./images.jpg);
}
html {
  font-size: 16px;
}
.tittle {
  font-size: 40px;
  align-items: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  text-shadow:5px 5px 5px #2b2929;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  border: 2px solid white;
  border-radius: 6px;
  height: 595px;
  width: 470px;
  box-shadow: 10px 5px 5px black;
  background: linear-gradient(400deg, #e37c37, #e16391);
  text-align: center;
  justify-content: center;
}
.juego {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.opcion-btn {
  background: #ffffff;
  height: 22vmin;
  width: 22vmin;
  border:none;
  border-radius: 40px;
  font-size: 12vmin;
  color: #e16391;
  text-shadow: 20px 0px 20px rgb(235, 123, 158), 0 0 20px rgb(94, 232, 211);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#reanudar {
  font-size: 1.3em;
  padding: 1em;
  border-radius: 10px;
  background-color: #0a0027;
  color: #ffffff;
  border: 1px solid #ffffff;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}
.popup {
  background:  linear-gradient(400deg, #e3812b, #e03485 );
  height: 200%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 12vmin;
}
#Nuevo-juego {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #0a0027;
  color:#ffffff;
  border-radius: 0.2em;
}
#mensaje {
color: #ffffff;
text-align: center;
text-shadow: 20px 0px 20px rgb(19, 19, 18), 0 0 20px rgb(230, 96, 187);
font-size: 1em;
}
.popup.hide {
  display: none;
}